@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Override Bootstrap */
body{
    background-color: #A81238;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #A81238;
}

html {
    font-size: 62.5%; 
}

ul {
    list-style-type: none;
}
dl, ol, ul {
    margin-bottom: 0;
    padding-left: 0;
}

header .header__img {
    max-width: 250px;
}
header nav .menu {
    display: flex;
    gap: 2rem;
} 

.menu .menu__link {
    font-size: 2.2em;
    padding: 1rem 1.2rem;
    border:  2px solid #f9b815;
    color: #f9b815;
    font-size: 20px;
    list-style-type: none;
    font-style: italic;
    font-family: 'Courgette', cursive;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    align-items: center;
    transition: color 1s, border 1s;
}

.menu .menu__link:hover {
    color: #f9b815;
    border: 2px solid #A81238;
} 
.btn-primary {
    --bs-btn-color: #A81238;
    --bs-btn-bg: #f9b815;
    --bs-btn-border-color: #f9b815;
    --bs-btn-hover-color: #A81238;
    --bs-btn-hover-bg: #f9b815;
    --bs-btn-hover-border-color: ##f9b815;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #A81238;
    --bs-btn-active-bg: #f9b815;
    --bs-btn-active-border-color: #f9b815;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #A81238;
    --bs-btn-disabled-bg: #f9b815;
    --bs-btn-disabled-border-color: #f9b815;
}
.container__productos {
    display: flex;
}
.accordion-item {
    color: #A81238;
    background-color: #f9b815;
}
.accordion {
    --bs-accordion-color: #f9b815;
    --bs-accordion-bg: #F9b815;
    --bs-accordion-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
    --bs-accordion-border-color: var(--bs-border-color);
    --bs-accordion-border-width: 1px;
    --bs-accordion-border-radius: 0.375rem;
    --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: var(--bs-body-color);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-body-color%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
    --bs-accordion-btn-focus-border-color: #86b7fe;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: #0c63e4;
    --bs-accordion-active-bg: #e7f1ff;
}    
.gallery {
    transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.gallery__img:hover {
    transform: rotate(10deg);
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    box-sizing: border-box;
    background-color: #A81238;
}
.row__column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.row__column img {
    margin-top: 8px;
    vertical-align: middle;
}

.main {
    width: auto;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    background-color: #A81238;
}
.main__section{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
}
.promos {
    flex-wrap: wrap;
}
.w-70 {
    width: 700px;
}
a {
    color: black;
    text-decoration: none;
}
.main__section-formu{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A81238;
    font-size: 14px;
}
