/* TypeScript */
/* MISC */
/* PARTIALS */
/* VIEWS */
@media screen and (max-width: 480px) {
  .header {
    width: 100%;
    background-color: red;
    padding: 1rem;
    color: yellow;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center; }
    .header .button {
      display: none;
      cursor: pointer; } }
  @media screen and (max-width: 480px) and (max-width: 480) {
    .header {
      display: block; } }

@media screen and (max-width: 480px) {
    .header .button__svg {
      width: 2em;
      height: 2em;
      fill: white; } }
  @media screen and (max-width: 480px) and (max-width: 480) {
    .header .nav {
      width: 100%;
      opacity: 0;
      height: 0vh;
      pointer-events: none;
      overflow: hidden;
      transition: all .5s ease;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center; }
      .header .nav.activo {
        opacity: 1;
        height: 50vh;
        pointer-events: auto; } }

@media screen and (max-width: 480px) {
    .header .ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      align-items: center; } }
    @media screen and (max-width: 480px) and (max-width: 480) {
      .header .ul {
        flex-direction: column; } }

@media screen and (max-width: 480px) {
    .header .li {
      margin: 0 .5em; } }
    @media screen and (max-width: 480px) and (max-width: 480) {
      .header .li {
        margin: 1em 0; } }

header .header__img {
  max-width: 250px; }

header nav .menu {
  display: flex;
  gap: 2rem; }

header .menu .menu__link {
  font-size: 2.2em;
  padding: 1rem 1.2rem;
  border: 2px solid #f9b815;
  color: #f9b815;
  font-size: 20px;
  list-style-type: none;
  font-style: italic;
  font-family: 'Courgette', cursive;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  align-items: center;
  transition: color 1s, border 1s; }

header .menu .menu__link:hover {
  color: #f9b815;
  border: 2px solid #A81238; }

main .main {
  width: auto;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  background-color: #A81238; }

main .main__section {
  display: flex;
  align-items: flex-end; }

main .main__section-formu {
  display: flex;
  flex-direction: column;
  align-items: center; }

main .gallery {
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

main .gallery__img:hover {
  transform: rotate(10deg); }

main .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  box-sizing: border-box;
  background-color: #A81238; }

main .row__column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px; }

main .row__column img {
  margin-top: 8px;
  vertical-align: middle; }

footer {
  background-color: #A81238;
  font-size: 14px; }
