.logo{
    width:100px;
    height:80px;
}

header{
    position:fixed;
    top:0;
    border-top: 30px solid $primary;
    width:100%;
}

.wrapper{
    background-color: $primary;
    padding-top: 100px;
    padding-bottom:100px;
}

nav{
    @include caja-flex(space-between, center, nowrap);

    ul{
        display:flex;
        padding:0;

        a{
            padding: 10px;
            font-size: 1.6rem;
            font-weight:bold;
        }

        a:hover{
            color: $primary;
            transform: scale(1.1);
        }
    }
}