/* Colors */
$primary: #f9b815;
$secondary: #f9b815;
$alternative: #2B2B2B;
$text-color: #302F4D;
$base: #FDF7FA;

/* Spacings */
$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1.5rem;

$spacings:(
    spacing-large: 6rem,
    spacing-medium: 2.4rem,
    spacing-small: 2rem,
    spacing-xsmall: 1.5rem
);

@each $key, $val in $spacings {
    .#{$key} {
        padding: #{$val}
        }
}


/* Font-family */
$font-principal: 'Barlow', sans-serif;
$font-titlle: 'Roboto Slab', serif;

/* Font-Sizes */
$text-large: 5.2em;
$text-medium: 2.2em;
$text-base: 1.5em;
$text-small: 1.4em;