/* Colors */
$primary: rgb(168, 18, 56);
$secondary: rgb(249, 184, 21);
$alternative: rgb(43, 43, 43);

/* Font-Sizes */
$font-p: 1.8rem;
$font-h1: 3.0rem;
$font-h2: 2.4rem;
$font-h3: 1.5rem;

/* Font-family */
$font-principal: 'Courgette', sans-serif;
$font-secondary: 'Roboto', serif;

/* Spacings */
$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1.5rem;

$spacings:(
    spacing-large: 6rem,
    spacing-medium: 2.4rem,
    spacing-small: 2rem,
    spacing-xsmall: 1.5rem
);



